p{
    font-family: Arial;
    font-size: x-large;
    text-align: left;
}
h1{
    text-align: center;
}
h2{
    text-align: left;
    margin-left: 40px;
}
/* The below order should be maintained link/visited/hover/active*/
a:link{
    color: deeppink;
    text-decoration: none;
}
a:visited{
    color: darkred;
}
a:hover{
    background-color: blue;
}
a:active{
    color: red;
    background-color: green;
}
